#Pagina1 {
    background: url(Imagenes/OLO2E30.jpg) no-repeat;
    background-position:center ;
    background-size: 100% 100% ;
    text-align: center;
    font-family:'Luckiest Guy', cursive;
  }
  .Bloque1 {
   border-color: blue;
   border-style: dotted;
   background:#F8E0E6;
  }
  marquee {
    -webkit-text-fill-color:red;
    -webkit-text-stroke: 0.5px blue;
    font-family: 'Luckiest Guy', cursive;
    font-size: 60px;
    font-style: italic;
  }
  .cartaAmor{
    width: 9%;
    height: 10%;
    float: left;
}
  .cartaAmor1{
    width: 10%;
    height: 10%;
    float: right;
}
  .pareja{
    width: 25%;
    height: 25%;
  }
.Información {
    -webkit-text-fill-color:blue;
    -webkit-text-stroke: 1px black;
    font-size: 30px;
    font-family:'Chewy', cursive;
    font-style: italic;
    font-weight: bold;
}
.input1 {
  border: red 5px ridge;
  width: 20%;
}

h2 {
  -webkit-text-fill-color:black;
  -webkit-text-stroke: 1px red;
    font-size: x-large;
    font-style: italic;
    font-weight: 1000;

}
.button1 {
    color: red;
    font-weight: 800;
    background: palevioletred;
    border: red 5px ridge;
}
#Pagina2 {
    background: url(Imagenes/Corazones\ 48.jpg) no-repeat center center ;
    background-position:97% 97%;
    background-size: cover;
    text-align: center;
    background-color: blue;
  }
  .pasos{
    width:100%;
    background-position:top ;
    background-size: 80% 80% ;
    
  }
  .Clave{
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 1px black;
    font-size: 30px;
    font-family:'Chewy', cursive;
  }
  #offset{
    color: black;
    width: 15%;
    border-radius: 4px;
    border: blue 5px ridge;
    margin: 8px 0;
    outline: none;
    padding:  3px;
    box-sizing: 15px;
}
  #string{
      width: 30%;
      height:2%; 
      border-radius: 4px;
      border: red 5px ridge;
      outline: none;
      padding:  40px;
      box-sizing: 15px;
  }
  #string1{
      width: 30%;
      height: 2%;
      border-radius: 4px;
      border: red 5px ridge;
      margin: 8px 0;
      outline: none;
      padding:  40px;
      box-sizing: 15px;

}
#introName {
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 1px black;
    border:white 4px dotted;
    background: rgba(128, 177, 185, 0.808);
    font-size:  large;
    font-family: 'Chewy', cursive;
    font-style: italic;
}/* Acá va tu código */